@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: white; /* Text color for the input */
    padding-right: 2.5rem; /* Space for the icon */
  }

  /* Add a custom calendar icon */
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Makes the calendar icon white */
    cursor: pointer;
  }

  input[type="date"]::-moz-calendar-picker-indicator {
    filter: invert(1); /* Makes the calendar icon white for Firefox */
    cursor: pointer;
  }


@keyframes slide-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.notification-enter {
    animation: slide-in 0.5s forwards;
}

.notification-exit {
    animation: fade-out 0.5s forwards;
}